asgiref==3.5.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
coverage==3.6
Django==4.0.4
django-crispy-forms==1.14.0
django-grappelli==3.0.3
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
idna==3.3
lxml==4.8.0
Pillow==9.1.1
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
