{% extends "base.html" %}
{% block content %}
    <br>
        <h5>{{ title }}</h5>
        <div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input
                            value="Zatwierdz"
                            type="submit">
                    <input
                            value="Anuluj"
                            type="button"
                            onclick="location.href='{% url "index" %}';">
                </form>
            </div>
        </div>
{% endblock %}