{% extends 'base_login.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Mail z instrukcją został wysłany</h2>
		<hr>
		<p>Jeśli na podany przez Ciebie adres e-mail istnieje konto, wysłaliśmy Ci instrukcje dotyczące ustawiania hasła.
            Wkrótce powinieneś je otrzymać.
            <br>
            Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że podałeś adres, na który się zarejestrowałeś, i sprawdź folder spamu.
        </p>
  </div>

{% endblock %}