{% extends "base_login.html" %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Potwierdź reset hasła</h2>
		<hr>
        <p>Wprowadź nowe hasło.</p>
        {% load i18n %}
        {% language 'pl' %}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button role='button' type="submit">
                    Resetuj hasło
                </button>
            </form>
        {% endlanguage %}
    </div>

{% endblock %}